@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap");

:root {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.87);
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.gridd{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.background{
  background: linear-gradient(88deg, #000000 0%, #090a19 50%, #020413 100%);
}

.corners {
  background: linear-gradient(to right, #cd6e15 4px, transparent 4px) 0 0,
              linear-gradient(to right, #cd6e15 4px, transparent 4px) 0 100%,
              linear-gradient(to left, #cd6e15 4px, transparent 4px) 100% 0,
              linear-gradient(to left, #cd6e15 4px, transparent 4px) 100% 100%,
              linear-gradient(to bottom, #cd6e15 4px, transparent 4px) 0 0,
              linear-gradient(to bottom, #cd6e15 4px, transparent 4px) 100% 0,
              linear-gradient(to top, #cd6e15 4px, transparent 4px) 0 100%,
              linear-gradient(to top, #cd6e15 4px, transparent 4px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}