@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap");

:root {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
/* a:hover {
  color: #535bf2;
} */

body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /* a:hover {
    color: #747bff;
  } */
  button {
    background-color: #f9f9f9;
  }
}

.parent{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 25px;
grid-row-gap: 10px;
}

.gridd{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.background{
  background: linear-gradient(88deg, #000000 0%, #090a19 50%, #020413 100%);
}

/* .corners {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 20px;
  border: 1px solid #000;
} */

.corners {
  width: 100%;
  /* height: 600px; */
  background: linear-gradient(to right, #cd6e15 4px, transparent 4px) 0 0,
              linear-gradient(to right, #cd6e15 4px, transparent 4px) 0 100%,
              linear-gradient(to left, #cd6e15 4px, transparent 4px) 100% 0,
              linear-gradient(to left, #cd6e15 4px, transparent 4px) 100% 100%,
              linear-gradient(to bottom, #cd6e15 4px, transparent 4px) 0 0,
              linear-gradient(to bottom, #cd6e15 4px, transparent 4px) 100% 0,
              linear-gradient(to top, #cd6e15 4px, transparent 4px) 0 100%,
              linear-gradient(to top, #cd6e15 4px, transparent 4px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

